<!DOCTYPE html>
<html lang="en" ng-app="quandooChallenge">
<head>
    <meta charset="utf-8">
    <title>Quandoo Challenge</title>

    <link rel="stylesheet" href="app/example/app.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/autocomplete.js"></script>

    <script src="app/example/app.js"></script>
    <script src="app/example/exampleCtrl.js"></script>

</head>
<body>
<div ng-controller="exampleCtrl">
    <div>To switch the value press keyboard arrow controls.</div> <br>
    <div class="row">
        <div class="label">In Google Addresses (2 sec timeout):</div>
        <input class="example" type="text" autocomplete ng-model="searchAddress" timeout="2000" search-function="getGoogleAddress">
    </div>
    <br>
    <div class="row">
        <div class="label">In Names Array (1 sec timeout by default):</div>
        <input class="example" type="text" autocomplete ng-model="searchSimpleData" search-function="getSimpleData">
    </div>
</div>
</body>
</html>
